<h1>Incidents Summary Report</h1>
<h3>Enter Date</h3>
<form name=summaryReport>

    <div id="report">
<span>
    <b>From:</b><input type="date" id="from" name="from">
            <b>To:</b><input type="date" id="to" name="to">

            <input type=button value="Refine" onclick="refineDate()">
        <input type=button value="Reset" onclick="resetData()">
</span>
    </div>
</form>

<div id="gradeLevelDiv">
    <h2>Incident summary based on  Academic Level</h2>
    <table id="gradeLevelList"></table>
</div>




<script src="views/js/reports.js"></script>;